<footer> 
      <div class="copyright">
        <span id="copy2021">&copy 2021 - Organization</span>
      </div>
      <div class="social">
        <a href="contact" class="contact">Contact Us</a>
        <a href="http://www.facebook.com/mahoma.barbor" target="_blank"
          >facebook</a
        >
        <a href="http://www.instagram.com/barrymahoma" target="_blank"
          >Instagram</a
        >
      </div>
    </footer>