<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %> 
    <title>BJJ</title>
  </head>
  <body class="img-s post-s">
    <header class="header-pad">
      <!-- The navigation menu -->
      <%- include('partials/nav.ejs', {page: 'post1'}) %>
      <!--end of the nav bar-->
    </header>

    <main class="bjjmain margin_c">
      <h1>About Brazilian Jiu-Jitsu</h1>
      <div class="mkflex">
        <div class="box">
          <figure class="fig1">
            <img src="../images/bjj1.jpg.jpeg" alt="bjjfighters" />
            <figcaption>BJJ Grandmasters Carlos and Helio Gracie.</figcaption>
          </figure>

          <p>
            <strong>Brazilian Jiu-Jitsu (BJJ)</strong> is a grappling-based
            martial art whose central theme is the skill of controlling a
            resisting opponent in ways that force him to submit. Due to the fact
            that control is generally easier on the ground than in a standing
            position, much of the technique of Brazilian Jiu-Jitsu (BJJ) is
            centered around the skill of taking an opponent down to the ground
            and wrestling for dominant control positions from where the opponent
            can be rendered harmless.
          </p>
          <p>
            To control and overcome greater size, strength, and aggression with
            lesser size and strength is the keynote of the sport. This is done
            by utilizing superior leverage, grip, and position upon your
            opponent. Students of the sport gain a deep understanding of the
            workings and limits of the human body.
          </p>
          <p>
            This knowledge can be used to subdue and control an opponent with
            whatever level of severity the student chooses. The path to this
            knowledge is physically and mentally demanding. Students benefit
            from greatly increased physical fitness, problem-solving ability,
            self-knowledge of their body and mind and the many social benefits
            of working within a large group of like-minded fellow students as
            you learn and have fun together.
          </p>
          <figure class="fig2">
            <img src="../images/bjj2.jpg" alt="bjjfighters" />
            <figcaption>BJJ players in competition!.wiki</figcaption>
          </figure>
          <p>
            Many students first learn about Jiu-Jitsu through the great
            popularity of mixed martial arts (MMA) competition, where Brazilian
            Jiu-Jitsu technique is very prominent.
          </p>
          <p>
            Indeed, the beginnings of the contemporary MMA competition were
            largely tied up with proving the combat-efficiency of Brazilian
            Jiu-Jitsu.
          </p>
          <p>
            The practice of Brazilian Jiu-Jitsu as a sport, however, is strongly
            separated from MMA. Daily classes do not feature kicking or
            punching. The focus is on a safe grappling technique that can be
            done on a daily basis with no more fear of injury than any other
            contact sport. While there is a professional MMA team at the Renzo
            Gracie Academy, the great majority of students study only the
            grappling sport and find that this is the most enjoyable and
            satisfying route to take.
          </p>
          <p>
            Renzo Gracie is a world-renown practitioner of Brazilian Jiu-Jitsu
            and MMA. He is a senior member of the famous Gracie family of
            Jiu-Jitsu teachers and fighters who did so much to change the shape
            the current state of martial arts instruction in America.
          </p>
          <p>
            He has assembled a great team of some of the very best instructors
            from Brazil, many of whom are members of his illustrious family and
            who teach his system to a very large and ever-growing community and
            his world-famous New York City Academy.
          </p>
          <p>
            Renzo’s fame and charisma are the basis of a truly enjoyable place
            to train, grow and develop your skills among many avid practitioners
            of the sport, ranging from famous professional fighters to everyday
            enthusiasts.
          </p>
          <p>
            Classes at the academy are taught all day six days a week. They
            feature a strength and endurance building warm-up, followed by
            demonstration and practice of techniques after which students engage
            in live wrestling with other students of their own level.
          </p>
          <p>
            It is a truly demanding workout with a strongly cerebral aspect and
            a sense of purpose and skill that will truly capture your
            imagination. Come down to the academy. Come take a look at a class
            or better yet, take one of the introduction classes.
          </p>
          <p>
            We are confident that Jiu-Jitsu will become one of the most
            cherished and enjoyable aspects of your life. It will give you
            confidence, knowledge, body-dexterity, and fitness that few people
            will ever know. <span style="color: orange"> ~ John Danaher</span>
          </p>
        </div>
      </div>
    </main>
    <!--here is the footer of the page-->
    <%- include('partials/footer.ejs')%>
    <!--here is the end of the footer of the page-->
  </body>
</html>
