<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('partials/meta.ejs') %> 
    <title>Kyokushin</title>
  </head>
  <body class="kyopage post-s">
    <header class="header-pad">
      <!-- The navigation menu -->
      <%- include('partials/nav.ejs', {page: 'post2'}) %>
      <!--end of the nav bar-->
    </header>
    <main class="kyomain margin_c">
      <h1>Kyokushin Karate – A “Hard” Karate Style</h1>
      <div class="mkflex">
        <div class="box">
          <figure class="fig1">
            <img src="../images/ky1.jpeg" alt="Kyokushinfighters" />
            <figcaption>Kyokushin high degree players in the class.</figcaption>
          </figure>

          <p>
            <strong>Kyokushin Karate</strong> is famous for being one of the
            “harder” substyles of Karate. This style of Karate allows full
            contact sparring (kumite) and does not use any protective gear,
            except for a mouth guard and groin protection. They do not even use
            gloves or protective headgear during tournament sparring events.
            Kyokushin does not practice Olympic-style “sports” sparring.
            Kyokushin kumite allows kicks against an opponent’s head, body and
            legs. It also allows knee strikes and punches to an opponent’s body
            (but not to their head).
          </p>
          <p>
            This focus on more realistic unarmed combat is exemplified by the
            “spirit” of Kyokushin which states “The heart of our karate is real
            fighting. There can be no proof without real fighting. Without proof
            there is no trust. Without trust there is no respect. This is a
            definition in the world of Martial Arts.”
          </p>
          <p>
            This style of Karate is also famous for the “100 man kumite“. This
            grueling sparring match consists of one man or woman fighting 100
            rounds of kumite against 100 similar or higher level opponents
            (although some opponents may go multiple times if the match does not
            have significant numbers of participants). The participant will
            fight each of the 100 opponents separately and one after another.
            Each kumite round lasts for roughly one and half to two minutes.
          </p>
          <figure class="fig2">
            <img
              src="../images/Nadia-Petrova-ky.jpg"
              alt="karate-lady-fighter"
            />
            <figcaption>Nadia-Petrova after Competition</figcaption>
          </figure>
          <p>
            <strong>Founding</strong> In April 1964, Mas Oyama established the
            Kyokushin Kaikan of the International Karatedo Federation under the
            umbrella of the Kyokushin Scholarship Foundation. Upon formation,
            Eisaku Sato acted as chairman and Matsuhei Mori as the vice
            chairman, with Oyama as the director (later president). Oyama
            directed the organization through a period of expansion.[8] In June
            of the same year, the headquarters dojo (later the general
            headquarters) was completed in Nishiikebukuro, Toshima-ku, Tokyo. In
            addition to the people who provided financial support for the
            construction, Tadashi Nakamura testified that "Kenji Kurosaki's
            teacher has contributed very much."
          </p>
          <p>
            Oyama hand-picked instructors who displayed ability in marketing the
            style and gaining new members. Oyama would choose an instructor to
            open a new dojo. The instructor would move to that town and
            demonstrate his karate skills in public places. After that, word of
            mouth would spread through the local area until the dojo had a
            dedicated core of students. Kyokushin sought to expand it's presence
            with contact with other martial arts disciples, interaction with
            other groups, matches, assimiliation of martial arts technique.
          </p>
          <p>
            Oyama also sent instructors to other countries such as the
            Netherlands (Kenji Kurosaki), Australia (Mamoru Kaneko and Shigeo
            Kato), the United States (Miyuki Miura, Tadashi Nakamura, Shigeru
            Oyama and Yasuhiko Oyama), Great Britain (Steve Arneil), Canada
            (Tatsuji Nakamura) and Brazil (Seiji Isobe) to spread Kyokushin in
            the same way. Many students, including Steve Arneil, Jon Bluming,
            and Howard Collins, traveled to Japan to train with Oyama directly.
            Kyokushin also sought to develop a close connection with VIPs and
            celebrities, focusing on a mass media strategy to increase fans and
            gain students.
          </p>
          <p>
            In 1969, Oyama staged The First All-Japan Full Contact Karate Open
            Championships and Terutomo Yamazaki became the first champion.
            All-Japan Championships have been held at every year. In 1975, The
            First World Full Contact Karate Open Championships were held in
            Tokyo.[citation needed] World Championships have been held at
            four-yearly intervals since.
          </p>
          <p>
            At its peak, Oyama was alive in the 1990s, with branches set up in
            each prefecture, with more than 1,000 official branch dojos in 123
            countries around the world, and a scale of 12 million members.
          </p>
          <p>
            <strong>Oyama's death</strong> After Mas Oyama's death, the
            International Karate Organization (IKO) split into two groups,
            primarily due to personal conflicts over who should succeed Oyama as
            chairman. One group led by Shokei Matsui became known as IKO-1, and
            a second group led by Yukio Nishida[11] and Sanpei became was known
            as IKO-2. The will was proven to be invalid in the family Court of
            Tokyo in 1995.
          </p>
          <p>
            There were claims that near the end of his life, Oyama named Matsui
            (then ranked 5th dan, and clearly junior in rank to several senior
            instructors) to succeed him in leading the IKO. However this claim
            has been disputed with Oyama's family and Matsui himself.
          </p>
          <p>
            In 1995 any new Kyokushin organization that claimed the name IKO,
            Kyokushinkaikan, were referred to by Kyokushin practitioners by
            numbers, such as IKO-1 (Matsui group), IKO-2 etc.Due to this break
            up, many attempted to establish their own leadership. For example,
            IKO-2 was not organized by Oyama's family, although Chiyako Oyama
            was asked to succeed after her husband as Kaicho. Chiyako Oyama
            stepped away from the political fight and founded the Mas Oyama
            Memorial Foundation with her daughters, still retaining the rights
            to the companies that managed IKO Kyokushinkaikan during Mas Oyama's
            leadership.
          </p>
          <p>
            In May 2012, the Japanese Patent Office granted the Kyokushin
            related trademarks to Kikuko Kuristina Oyama, after years of long
            court battle.[citation needed] She has internationally trademarked
            and copyrighted her father's work and devotes the proceeds to
            various charities. <span style="color: orange"> ~ Wiki</span>
          </p>
        </div>
      </div>
    </main>
    <!--here is the footer of the page-->
    <%- include('partials/footer.ejs')%>
    <!--here is the end of the footer of the page-->
  </body>
</html>
