* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: Merienda;
  src: url(./font/Merienda-Regular.ttf);
}
/*here is the part of media which control the html font size and brightness , the index page font size and margins according to the monitor size , we tried three kinds of ranges, we used it also to trick one small caption in the header called #samurai to stay in the end of the text over it*/
@media (max-width: 2000px) {
  html {
    font-size: 0.7vw;
    filter: brightness(80%);
  }
  .indexmain {
    font-size: 0.85rem;
    margin: 30rem 5rem 1rem 5rem;
  }
  header #Samurai {
    margin: 0em 0em 1em 65em;
  }
}
@media (max-width: 1300px) {
  html {
    font-size: 1vw;
    filter: brightness(85%);
  }
  .indexmain {
    font-size: 0.85rem;
    margin: 32rem 5rem 1rem 5rem;
  }
  header #Samurai {
    margin: 0em 0em 1em 57em;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 1.3vw;
    filter: brightness(90%);
  }
  .indexmain {
    font-size: 0.85rem;
    margin: 38rem 5rem 1rem 5rem;
  }
  header #Samurai {
    margin: 0em 0em 1em 23em;
  }
}
/* bodies mains headers footers as Modules will scale with the document */
body {
  height: 100vh;
}
.margin_c {
  margin: 10rem 5rem 1rem 5rem;
}
.indexheader {
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-bottom: 1px solid black;
}
.header-pad {
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 100;
}

footer {
  font-size: 0.75rem;
  background-color: #04aa6d;
  margin-top: 5em;
  padding: 20px;
}
/* sidebar {
  font-size: 0.85rem;
} */

/* Types headings will scale with modules */
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
/*styling the most elements will start from here*/
.indexbody img {
  border-radius: 10px;
  border: 2px solid black;
  margin: 5px;
  cursor: pointer;
}
/*nav bar making*/
#baricon {
  position: absolute;
  border-radius: 5px;
  border: none;
  margin: 0px;/*icon link*/
  padding: 0px;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 5px;
  cursor: auto;
}

/* we will add a black background to the top of our navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* here is the styling for the links inside the navigation */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* how colors will Change for the links on hovering */
.topnav a:hover,
.subnav:hover .subnavbtn,
.subnav-content a:hover {
  background-color: #ddd;
  color: black;
}

/* changing the color of the active link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
  cursor: not-allowed;
}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  width: max-content;
}
/* Subnav button */
.subnav .subnavbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* here we will style the subnav content , important to give it absolute position  */
.subnav-content {
  display: none;
  position: absolute;
  left: 75px;
  background-color: rgb(7, 7, 7);
  z-index: 1;
  width: 121px;
}
/* Style the subnav links */
.subnav-content a {
  clear: both;
  display: block;
  /* float: left; */
  color: #f2f2f2;
  text-decoration: none;
  width: 100%;
}
/* this will open the subnav content by moving the mouse over the subnav container,  */
.subnav:hover .subnav-content {
  display: block;
}
/*end of the nav styling*/
#headicondiv {
  text-align: center;
}
#headicon {
  border-radius: 5px;
  border: none;
  width: 10em;
  height: 10em;
  cursor: auto;
  vertical-align: middle;
}
#headicon1 {
  border-radius: 5px;
  border: none;
  width: 8.5em;
  height: 8.5em;
  cursor: auto;
  vertical-align: middle;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-shadow: 13px 10px 18px red;
  font-family: Merienda;
}
header p {
  text-align: center;
  font-family: Merienda;
  font-size: 1.8em;
  font-style: italic;
  color: red;
}
header #Samurai {
  /* margin: 0em 0em 1em 28em; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: orange;
  font-size: 1em;
}
section {
  border: 0.5em solid gray;
  border-radius: 2em;
  margin-bottom: 1em;
  padding: 5em;
}
main section div {
  display: flex;
  justify-content: center;
}
img {
  width: 30vw;
  height: 30vw;
  margin: 1em;
}
main section > p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin: 1em;
}
main section em {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: orange;
  font-size: 0.8em;
}
main section div p,
body p
{
  font-family: fantasy;
  font-size: 2.2em;
  margin: auto;
}
.copyright,
.social {
  font-size: 3em;
  color: white;
  padding: 0.5em;
}
.social a {
  color: whitesmoke;
  padding: 0.5em;
}
.social a:visited {
  color: greenyellow;
}
/*styling contact page*/

.contactpage h3 {
  text-align: center;
}
label {
  font-size: 3em;
}
/* Style inputs with type="text" "email", and textareas */
input[type="text"],
textarea,
input[type="email"] {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
}
/*specific background color to submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* add a color to the submit button,When moving the mouse over it  */
input[type="submit"]:hover {
  background-color: #45a049;
}
/* Add a background color and padding around the form */
.formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/*end styling contact page*/
.post-s h1 {
  margin-bottom: 0.6em;
}
.mkflex {
  display: flex;
  text-align: left;
  width: 100%;
}
.box {
  flex: 1;
  border: 1px solid #000;
  padding: 10px;
}
.fig1{
  float: left;
}
.fig2 {
  float: right;
}
.img-s img {
  border-radius: 10px;
  border: 2px solid black;
}
.box p {
  padding: 0.5em;
}
figcaption {
  font-size: 1.5em;
  margin: 0px 10px 2.5px 0px;
  color: orange;
  font-weight: bold;
}
/*about page styling*/
.about-section {
  padding: 8em;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5em 0em 10em 0em;
  text-align: center;
}
.title {
  color: grey;
}
.button {
  border: none;
  margin: 0px;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}
.aboutcontainer p {
  margin: 0.5em 0em;
}
/* #submit-btn{
 cursor: not-allowed;
  pointer-events: none;
} */
#submit-btn:disabled{
 cursor: not-allowed;
}
